@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row justify-content-center text-center" style="margin-top:-2rem">
    <div class="col col-3 bg-white tarjeta" style="border-radius:8%; box-shadow:0 10px 7px 0 grey">
        <i class="bi bi-hdd"></i>
        <h3>Backend</h3>
        <p>texto en el que hablo y extiendo sobre mis habilidades en backend</p>

        <p class="text-primary cabecera" style="margin: -50px">Stack</p>
        <p>Items que pertencen al stack</p>

        <p class="text-primary cabecera" style="margin: -50px">Experiencia</p>
        <p>item que pertencen a la experiencia</p>

        <ul>

            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
    </div>
    <div class="col col-3 bg-white tarjeta" style="border-radius:8%; box-shadow:0 10px 7px 0 grey">
        <i class="bi bi-window-desktop"></i>
        <h3>Frontend</h3>
        <p>texto en el que hablo y extiendo sobre mis habilidades en frontend</p>

        <p class="text-primary cabecera" style="margin: -50px">Stack</p>
        <p>Items que pertencen al stack</p>

        <p class="text-primary cabecera" style="margin: -50px">Experiencia</p>
        <p>item que pertencen a la experiencia</p>

        <ul>

            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
        </ul>
    </div>
</div>
