@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Soy Devin Alzate y tengo una edad de 19 años</></h1>
    <h2>Estudiante con enfoque en desarrollo web, conocimientos en ASP.NET Core, Java, Python y Go</h2>
    <h4>@ViewBag.jaja</h4>
    <img id="foto" src="~/imaganes/foto_perfil.jpeg" alt="Foto de Devin" />
</div>

<div class="text-center row justify-content-center">
    <div class="col col-md-7 mi_introduccion bg-black">
        <h1>Te doy la bienvenida a mi portafolio como desarrollador web</h1>
        <p>El sitio web actual es una pagina, realizada en un entorno de desarrollo .NET, en la cual se pueden ver
            los conocimientos actuales que poseo referente a algunos lenguajes de programacion como los son Java, Python, JavaScript y Go. De igual forma
            proyectos realizados en los mismos
        </p>
    </div>
</div>
