

@{
	<div class="container">
		<h1>Gracias por contactarse con nosotros</h1>
		<p style="color: black">En los proximos dias recibira una respuesta</p>
		<a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Volver al inicio</button></a>
	</div>
}
