@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top:50px">
        <h2>Mis trabajos</h2>
        <p style="color: black"> A continuacion se pueden obervar algunos de los proyectos que he trabajado</p>
    </div>
    
    <partial name="_CicloProyectos" />
}
